@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Lab1.Models.Player
@{
    <h1>Usuwanie Gracza</h1>

    <p>@Model.FirstName @Model.LastName</p>
    <form asp-action="Delete" method="post">
        <p>Czy usunąc drużynę?</p>
        <input type="hidden" asp-for="Id">
        <p>
            <button type="submit">Usuń</button>
        </p>
    </form>
}
